body{
    background-image: url("https://preview.ibb.co/mUeDFe/dmw.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Hind Siliguri', sans-serif;
}
h2{
    text-align: center;
    margin-top: 20px;
    color: white;
}
.main{
    height: 600px;
    width: 100%;
}
.left{
    height: 500px;
    width: 400px;
    float: left;
    margin: 80px 0px 0px 210px;
    background-color: black;
    opacity: 0.7;
    color: yellow;
}
.left h2{
    color: darkturquoise;
    margin-left: 40px;
    text-align: left;
}
form input{
    height: 35px;
    width: 300px;
    padding-left: 3px;
    background-color: white;
    margin: 5px 0px 5px 40px;
}
p{
    margin-top: 5px;
    margin-left: 40px;
}
.left2{
    margin-top: -8px;
}
   
.bottom input{
    margin-left: 40px;
}
button{
    height: 40px;
    width: 350px;
    background-color: #ff8d00;
    border: none;
    margin: 20px 0px 25px 25px;
}
button a{
    text-decoration: none;
    color: white;
}
h4{
    text-align: center;
    margin-top: 13px;
}
.right{
    height: 350px;
    width: 400px;
    float: left;
    margin: 80px;
    background-color: black;
    opacity: 0.7;
}
.right h2{
    color: darkturquoise;
    margin-left: 40px;
    text-align: left;
}
.last{
    margin-left: 40px;
    color: yellow;
}
footer p{
    text-align: center;
    color: white;
}